<div id="wrap">
	<div class="container-fluid">
		<header class="row">
			<nav id="navbar" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			  <div style="padding-right: 30px; padding-left: 30px">
			    <div class="navbar-header">
			    	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#fb-navbar-main-collapse">
				        <span class="sr-only">Toggle navigation</span>
				        <span class="glyphicon glyphicon-arrow-down"></span>
	                  	MENU
				    </button>
			      	<a class="navbar-brand" href="{{"/" | relative_url }}">
								<span id="brand-text">DERIVA</span>
							</a>
			    </div> <!-- end navbar-header -->

				<div class="navbar-collapse collapse" id="fb-navbar-main-collapse">

					{% include navigation.html %}
				
				</div> <!-- end #fb-navbar-main-collapse -->
			  </div> <!-- end .container-fluid -->
			</nav> 		
		</header>
	</div>
