<div style="top: 60px; left: 751.267px; display: block;" id="popover237746" class="popover ng-joyride sharp-borders fade bottom in"> 
	<div class="arrow"></div>   
	<h3 class="popover-title sharp-borders">Title can have <em>HTML</em></h3> 
	<div class="popover-content container-fluid">
		<div class="row">
			<div id="pop-over-text" class="col-md-12">I can have dynamic text that can change in between joyrides</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-4 center">
				<a class="skipBtn pull-left" type="button"><i class="glyphicon glyphicon-ban-circle"></i>&nbsp; Skip</a>
			</div>
			<div class="col-md-8">
				<div class="pull-right">
					<button id="prevBtn" class="prevBtn btn btn-xs" type="button">
						<i class="glyphicon glyphicon-chevron-left"></i>&nbsp;Previous
					</button> 
					<button id="nextBtn" class="nextBtn btn btn-xs btn-primary" type="button">Next&nbsp;
						<i class="glyphicon glyphicon-chevron-right"></i>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>